<div class="modal fade" id="createIndividualModal" tabindex="-1" aria-labelledby="createIndividualModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="createIndividualForm" method="POST" action="{{ url_for('web_individuals_bp.create_individual') }}">
                <input type="hidden" id="userId" name="user_id"
                       value="{{ current_user.id }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="createIndividualModalLabel">Create Individual</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "partials/forms/add_individual_form.html" %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create Individual</button>
                </div>
            </form>
        </div>
    </div>
</div>
