{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Log In</h2>
    <form id="loginForm" method="POST"
          action="{{ url_for('web_auth_bp.login') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const loginForm = document.getElementById('loginForm');
    loginForm.addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission
        const formData = new FormData(loginForm);
        fetch('{{ url_for("web_auth_bp.login") }}', {
            method: 'POST',
            body: formData,
            credentials: 'include'  // Important to include cookies
        })
        .then(response => response.json())
        .then(data => {
            if (data.login) {
                window.location.href = '{{ url_for("web_individuals_bp.get_individuals") }}';
            } else {
                // Handle login failure
                alert('Login failed: ' + data.msg);
            }
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>
{% endblock %}
