<div class="row identity-fields">
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" name="identities[][first_name]">
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" name="identities[][last_name]">
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="identities[][gender]">
                <option value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="transgender">Transgender</option>
                <option value="gender neutral">Gender
                    Neutral</option>
                <option value="non binary">Non-binary</option>
                <option value="agender">Agender</option>
                <option value="pangender">Pangender</option>
                <option value="genderqueer">Genderqueer</option>
                <option value="two spirit">Two Spirit</option>
                <option value="third gender">Third
                    Gender</option>
                <option value="other">Other</option>
                <option value="unknown">Unknown</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Valid From</label>
            <input type="date" class="form-control" name="identities[][valid_from]">
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Valid Until</label>
            <input type="date" class="form-control" name="identities[][valid_until]">
        </div>
    </div>
     <div class="col-md-12">
        <button type="button" class="btn btn-danger btn-sm remove-identity">Remove Identity</button>
     </div>
</div>
