<div class="row identity-fields">
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" name="identities[][first_name]" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" name="identities[][last_name]" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="identities[][gender]" required>
                <option value="" disabled selected>Select Gender</option>
                {% for gender in GenderEnum %}
                    <option value="{{ gender.value }}">{{ gender.value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Valid From</label>
            <input type="date" class="form-control" name="identities[][valid_from]">
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Valid Until</label>
            <input type="date" class="form-control" name="identities[][valid_until]">
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-danger btn-sm remove-identity">Remove Identity</button>
    </div>
</div>
