<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('web.main_web.home') }}">Gener-AI-tions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('web.individuals_web.get_individuals') }}">Individuals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('web.profile_web.profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <form action="{{ url_for('auth.logout') }}" method="post" style="display: inline;">
                        {{ csrf_token() }}
                        <button type="submit" class="nav-link btn btn-link" style="display: inline; padding: 0;">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
